header, footer{
	background:#BEE6C8;
	color: #2F362C;
}
.logo{
	width: 50px;
	float: left;
}
a: hover{
	color: green;
}
a{
	color: #2F362C;
	text-decoration: none;
}
.img_article{
	width: 40%;
	min-width: 250px;
	margin: 0 auto;
}
p{
	text-align: justify;
}
.card p{
	font-size: 110%;
}
.commentary p{
	font-size: 90%;
}
.commentary{
	color: blue;
}
.avatar{
	width: 70px;
	float: left;
}
.name_author{
	/*padding: 5px;*/
	color: #2F362C;
}
.clean{
	clear: both;
}
.one_commentary{
	margin-left: 10px;
}
.two_commentary{
	margin-left: 40px;
}
.address a{
	color: #2F362C;
	font-style: italic;
}
.cardLink{
	color: #2F362C;
}
.warn{
	padding: 10px;
	padding-left: 80px;
	font-size: 140%;
	background: #BEE6C8;
	border-radius: 10px;
	background-image: url("/resourse/visible/warn.svg");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
